EntidexEnterprise/__pycache__/
EntidexEnterprise/*.py[cod]
EntidexEnterprise/*.ipynb
EntidexEnterprise/*.sqlite3
EntidexEnterprise/*.db
EntidexEnterprise/venv/
EntidexEnterprise/media/
EntidexEnterprise/pdfs/
EntidexEnterprise/chroma_langchain_db/
EntidexEnterprise/.ipynb_checkpoints/
.DS_Store
.git/
